@using Podcaster.Models
@model IEnumerable<PodcastEpisodeModel>

@{
    ViewBag.Title = "PlayingPage";
}

@*<h2>PlayingPage</h2>*@
<h3>@ViewBag.PodcastName</h3>
<h3>@ViewBag.choosenEpisodeTitle</h3>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>


     
        <audio id="player" controls="controls">
            @*<source id="ogg_src" src="C:\Users\johan\Desktop\Kodprojekt\Musik/TreMusketorerna.ogg" type="audio/ogg" />*@
            <source id="ogg_src" src="@ViewBag.choosenEpisodeUrl" type="audio/ogg" />
            <source id="mp3_src" src="@ViewBag.choosenEpisodeUrl" type="audio/mp3" />
            Your browser does not support the audio element.
        </audio>


@*@Html.DropDownList("Direction", new List<SelectListItem>
{
  new SelectListItem{ Text = "Home To School", Value = "0" },
  new SelectListItem{ Text = "School To Home", Value = "1" }
}, new { onchange = "getAlldata()" })*@

        @Html.DropDownList("Direction", new List<SelectListItem>
{
  new SelectListItem{ Text = "Home To School", Value = "0" },
  new SelectListItem{ Text = "School To Home", Value = "1" }
}, new { onchange = "getAlldata()" })
        
       
 
        @*onclick="location.href='@Url.Action("Index", "Home")'"*@

    </div>
   
    <div id="listOfEpisodesDive">
       
        <ul>
            @foreach (PodcastEpisodeModel item in Model)
            {
                var name = "Null";

                var seeIfEmpty = item.episodeTitle;
                if (seeIfEmpty != null)
                { name = seeIfEmpty; }
                    <li>@Html.ActionLink(name, "PlayingPage", "Home", new { rssFeed = ViewBag.rss, episodeName = name }, null)</li>     
            }
        </ul>
    </div>



    @*<div id="listOfEpisodesDiv">
            <ul>
                @foreach (PodcastEpisodeModel item in Model)
                {
                    <li >Play episode @item.episodeTitle </li>
                    <li id="listItemTitle">@item.episodeUrl  @item.episodeTitle</li>
                }
            </ul>
        </div>*@
    

    <table id="tableId" cellpadding="0" cellspacing="0" border="1">

      
        @foreach (PodcastEpisodeModel item in Model)
        {
            var name = "Null";

            var seeIfEmpty = item.episodeTitle;
            if (seeIfEmpty != null)
            { name = seeIfEmpty; }
            <tr>
                <th><b>@item.PodcastName</b></th>

                <td>@Html.ActionLink(name, "PlayingPage", "Home", new { rssFeed = ViewBag.rss, episodeName = name }, null)</td>               
                <td>@item.Description</td>
                <td>@item.PublicationDate</td>
            </tr>
        }
    </table>


    @*<li>@Html.ActionLink(pod.episodeTitle, "Index", "Home")</li>*@

    @*<div id="listOfEpisodesDiv">
        <ul>
            @foreach (PodcastEpisodeModel pod in ViewBag.ListEpisode)
            {
                <li id="listItemTitle">@pod.episodeTitle</li>
                <li id ="listItemUrl">@pod</li>
                
              
            }
        </ul>
    </div>*@
    


</body>
</html>





            <script>

                $(document).ready(function () {
                    var audio = $("#player");
                    audio[0].load();//suspends and restores all audio element
                    audio[0].oncanplaythrough = audio[0].play();
        
                });

                $("#listOfEpisodesDiv li").click(function () {
                    @*alert('@(Model.episodeUrl)');*@
                    
                    @*var model = @Html.Raw(Json.Encode(Model));

                    var firstItem = model[1];*@
                   
                  
                    //alert(model);
                    //var gurka = model.episodeTitle;
                    //alert(gurka);
                    //alert(model.PodcastEpisodeModel.episodeTitle);
              
                    //var str = ($(this).text());

                    //var substring = str.substr(0, str.indexOf('  '));

                    //var audio = $("#player");
                 
                    //$("#mp3_src").attr("src", substring);
                    //audio[0].pause();
                    //audio[0].load();
                    //audio[0].oncanplaythrough = audio[0].play();

    });


            </script>
