
@{
    ViewBag.Title = "Society";
}

<h2>Society & Culture</h2>

@using Podcaster.Models
@model IEnumerable<PodcastEpisodeModel>

@{
    ViewBag.Title = "Home";
}

@*<h2>  Podcasts</h2>*@

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <br />
    <div id="startContentDiv">
        @*<div id="popularPodcastsDiv">
            <h5 id="popularRightNowHeaderText">Top 10 trending</h5>
            <ol id="ulListPopularPodcasts">
                @foreach (PodcastEpisodeModel item in Model)
            {
                    <li id="popularEpisodeLi">@item.episodeTitle</li>
                }
            </ol>
        </div>*@

        <div id="podCastImagDiv">

            <div class="podCastImagDiv">
                <button type="button" id="freakonomics" class="podCastButton">
                    <img alt="" class="podCastImage" src="http://www.wjct.org/wp-content/uploads/2017/09/freakonomics_npr_400x400.png" />
                </button>
            </div>
            <div class="podCastImagDiv">
                <button type="button" id="watergate" class="podCastButton">
                    <img alt="" class="podCastImage" src="http://static.megaphone.fm/podcasts/86fe6492-bb2a-11e7-873d-cf56b25e8a62/image/uploads_2F1510932184599-4ewgovnpa2b-9d55d3c2f88285bfe929781bddf1ba07_2FSlate-Slow-Burn-Podcast-Art.jpg" />
                </button>
            </div>         
            <div class="podCastImagDiv">
                <button type="button" id="sTown" class="podCastButton">
                    <img alt="" class="podCastImage" src="https://files.stownpodcast.org/img/s-town-itunes.jpg" />
                </button>
            </div>
          
            <div class="podCastImagDiv">
                <button type="button" id="thisAmericanLife" class="podCastButton">
                    <img alt="" class="podCastImage" src="https://pbs.twimg.com/profile_images/459379225569423360/kF4Q-FsF_400x400.jpeg" />
                </button>
            </div>

            <div class="podCastImagDiv">
                <button type="button" id="cults" class="podCastButton">
                    <img alt="" class="podCastImage" src="https://dfkfj8j276wwv.cloudfront.net/images/96/30/f0/f9/9630f0f9-d026-4eca-8270-32cdd50a5332/03702711c47585433a6269089d3a76ab57be814d5cbaf1430e53c4e9de812fb2ddc11a7cb7de02f851e2f9db8dd9249987f487cfc3bd05c7ede6bd571af40d79.jpeg" />
                </button>
            </div>
         
            <div class="podCastImagDiv">
                <button type="button" id="stuffYouShouldKnow" class="podCastButton">
                    <img alt="" class="podCastImage" src="https://podcasts.howstuffworks.com/hsw/podcasts/sysk/sysk-audio-1600.jpg" />
                </button>
            </div>

            <div class="podCastImagDiv">
                <button type="button" id="hardcoreHistory" class="podCastButton">
                    <img alt="" class="podCastImage" src="http://www.dancarlin.com/graphics/DC_HH_iTunes.jpg" />
                </button>
            </div>
            <div class="podCastImagDiv">
                <button type="button" id="revolutions" class="podCastButton">
                    <img alt="" class="podCastImage" src="http://is1.mzstatic.com/image/thumb/Music/v4/b0/93/7b/b0937bb1-351e-1791-5746-9df1e49b929d/source/600x600bb.jpg" />
                </button>
            </div>

            <div class="podCastImagDiv">
                <button type="button" id="philosophizeThis" class="podCastButton">
                    <img alt="" class="podCastImage" src="http://static.libsyn.com/p/assets/1/d/9/4/1d946f34af4d1ee6/logo1.jpg" />
                </button>
            </div>

        </div>
    </div>

</body>
</html>

<script>

   
    $("#freakonomics").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "https://feeds2.feedburner.com/freakonomicsradio", imgUrl = "http://www.wjct.org/wp-content/uploads/2017/09/freakonomics_npr_400x400.png" }))';
                });
     $("#watergate").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "http://feeds.megaphone.fm/watergate", imgUrl = "http://static.megaphone.fm/podcasts/86fe6492-bb2a-11e7-873d-cf56b25e8a62/image/uploads_2F1510932184599-4ewgovnpa2b-9d55d3c2f88285bfe929781bddf1ba07_2FSlate-Slow-Burn-Podcast-Art.jpg" }))';
                });
  
     $("#sTown").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "http://feeds.stownpodcast.org/stownpodcast", imgUrl = "https://files.stownpodcast.org/img/s-town-itunes.jpg" }))';
                });
   
     $("#thisAmericanLife").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "http://feed.thisamericanlife.org/talpodcast", imgUrl = "https://pbs.twimg.com/profile_images/459379225569423360/kF4Q-FsF_400x400.jpeg" }))';
     });

      $("#cults").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "https://rss.art19.com/cults", imgUrl = "https://dfkfj8j276wwv.cloudfront.net/images/96/30/f0/f9/9630f0f9-d026-4eca-8270-32cdd50a5332/03702711c47585433a6269089d3a76ab57be814d5cbaf1430e53c4e9de812fb2ddc11a7cb7de02f851e2f9db8dd9249987f487cfc3bd05c7ede6bd571af40d79.jpeg" }))';
                });
 
    $("#stuffYouShouldKnow").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "https://www.howstuffworks.com/podcasts/stuff-you-should-know.rss", imgUrl = "https://podcasts.howstuffworks.com/hsw/podcasts/sysk/sysk-audio-1600.jpg" }))';
                });
   
    $("#hardcoreHistory").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "http://www.dancarlin.com/dchh-feedburner.xml",imgUrl = "http://www.dancarlin.com/graphics/DC_HH_iTunes.jpg" }))';
    });
    $("#revolutions").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "http://revolutionspodcast.libsyn.com/rss",imgUrl = "http://is1.mzstatic.com/image/thumb/Music/v4/b0/93/7b/b0937bb1-351e-1791-5746-9df1e49b929d/source/600x600bb.jpg" }))';
    });
 
    $("#philosophizeThis").on("click", function () {
                    window.location.href='@Html.Raw(@Url.Action("PlayingPage","Home",new { rssFeed = "http://philosophizethis.libsyn.com/rss",imgUrl = "http://static.libsyn.com/p/assets/1/d/9/4/1d946f34af4d1ee6/logo1.jpg" }))';
                });



</script>
